/* What's around page style */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

/* Navigation bar */
.navbar {
    background-color: #eeeeef; 
    position: absolute;
    top: 0;
}

.nav-link {
    font-size: 2rem;
}

.navbar a:hover {
    color: #0569b9;
}

.navbar-nav {
    padding: 30px 20px;
}

.navbar-toggler {
    border: none;
}

#offcanvasNavbar {
    background-color: #0569b9;
    color: white;
}

#offcanvasNavbar h5 {
    color: black;
}

/* Footer */
.footer {
    background-color: #eeeeef; 
    font-size: 14px;
}

.footer-logo {
    height: 50px;
}

.footer-link {
    color: #212529;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-link:hover {
    color: #0569b9; 
}

.footer p {
    margin: 0;
}

@media (max-width: 762px) {
    .footer .col-md-3 img {
        margin-bottom: 20px;
    }
    .footer .row {
        text-align: center; 
    }
    .footer .social-media {
        margin-top: 12px;
    }
}

@media (max-width: 1024px) {
    .footer img {
        margin-top: 4px;
        height: 40px;
    }
    .footer .social-media {
        margin-top: 2px;
    }
}

/* Food places section */
#food-places {
    background-color: #F4F3F3;
}

#food-places .btn {
    background-color: #00B4AA;
}

.filter-btn {
    border-radius: 55px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.filter-btn:disabled {
    background-color: #9fbab5;
    color: #a0a0a0; 
    cursor: not-allowed; 
}

.d-flex.justify-content-center {
    margin: 20px 0;
}

.navigation-link {
    background-color: #007bff;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    color: white;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.card {
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
    padding: 15px;
}

.card-body h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.card-body .place-descr {
    font-style: italic;
}

.card-body a {
    font-size: 0.9rem;
    color: #0569b9;
}

.card-body a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .navigation-links {
        justify-content: center;
    }
}

/* Find whats near us section */
.map-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
}

.map-container iframe {
    max-width: 900; 
    height: 480;
}

@media (max-width: 320px) {
    .map-container iframe {
        height: 200px;
    }
}

/* Students' reviews section */
#students-reviews {
    background-color: #F4F3F3;
}

.reviews-title {
    margin-bottom: 20px;
}

.carousel-item {
    text-align: center;
    padding: 20px;
    background: #F4F3F3;
}

.place-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.rating {
    color: gold;
    font-size: 18px;
    margin-bottom: 10px;
}

.review {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 12px;
}

.student-name {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.student-status {
    font-size: 10px;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: black;
}

/* Transportation section */
#transportation h3 {
    margin-bottom: 20px;
}

embed {
    width: 80%;
    max-width: 100%; 
    height: 500px; 
    border: none;
}

@media (max-width: 520px) {
    embed {
        width: 90%;
        height: 200px;
    }
}



